.custom-navbar {
  background-color: transparent;
  font-family: 'Cutive Mono', monospace;
  border-bottom: 1px solid #007bff;
  height: 90px;
}

.custom-navbar .nav-link {
  color: #007bff;
}

.custom-navbar .nav-link.active {
  font-weight: bold;
}

.custom-logout-button {
  border: none; 
  background-color: transparent; 
  color: #007bff !important;
  padding: 0;
}

.custom-logout-button:hover {
  background-color: transparent !important; 
  color: #007bff !important; 
}

.custom-navbar .custom-logout-button {
  color: #007bff !important; 
  border: none;
  background-color: transparent; 
}
