.signup-container {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form {
    width: 100%;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #007bff;
  }
  
  .form-label {
    margin-bottom: 1000px;
  }
  
  .form-control:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .submit-button {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .register-form {
    position: absolute;
    top: 530px;
    left: 445px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 123, 255, 0.7);
    padding: 5px;
    border-radius: 10px;
    width: 500px;
  }
  
  .group-name,
  .group-email,
  .text-center,
  .group-password {
    color: #007bff;
  }
  
  .group-name,
  .group-email,
  .group-password {
    margin-top: 15px;
  }
  